
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
    flex-direction: column;
}

#chat-container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    background: #1e1e1e;
    border: 1px solid #333;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#messages {
    height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
    padding: 10px;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 15px;
    background: #007bff;
    color: white;
}

.user-message {
    text-align: right;
}

.user-message .message {
    background: #333;
    color: #ffffff;
}

#chat-input {
    display: flex;
    align-items: center;
}

#chat-input md-outlined-text-field {
    flex-grow: 1;
    margin-right: 10px;
    --md-outlined-text-field-container-shape: 25px;
    --md-sys-color-primary: #007bff;
    --md-sys-color-on-surface: #ffffff;
    --md-sys-color-on-surface-variant: #cccccc;
    --md-sys-color-outline: #333;
}

#chat-input md-filled-button {
    --md-filled-button-container-shape: 25px;
    --md-sys-color-primary: #007bff;
    --md-sys-color-on-primary: #ffffff;
}

md-outlined-icon-button {
    --md-sys-color-on-surface-variant: #cccccc;
    --md-sys-color-outline: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#icon-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#loading-spinner {
    display: none;
    margin-top: 20px;
}

#container {
    text-align: center;
}

#infos {
    margin: 0 auto;
}

md-filled-button,
md-outlined-button {
    --md-sys-color-primary: #007bff;
    --md-sys-color-on-primary: white;
    font-family: 'Noto Sans', sans-serif;
}

md-filled-button:disabled,
md-outlined-button:disabled {
    --md-sys-color-primary: #b8b8b8;
    background-color: #333;
    color: #666;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
